body {
  font-family: 'Catamaran', sans-serif;
  color: $main-font-color;
}

.whole-container {
  max-width: 90%;
  border-style: solid;
  margin: 0 auto;
}

.top-container {
  border-style: solid;
}

div {
  //border-style: solid;
  //color: red;
}


.slick-prev:before,
.slick-next:before {
    color: #000;
}

.slick-next {
    right: 20px;
    z-index: 99;
}
.slick-prev {
  left: 15px;
  z-index: 100;
}
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
}
