#footer {
  background-color: $font-color-dark;
  color: $font-color-light;

  .container {
    display: flex;
    flex-flow: row wrap;

    div {
      display:block;
      margin: 0 auto;

      h2 {
        margin-left: 1em;
        font-size: 1.5em;
      }

      ul {
        margin-left: 0.5em;
        font-size: 1em;
        font-weight: 100;

        a {
          color: $font-color-light;
        }
      }
    }
   }
}
