#pictures {
  height: 350px;
  //background-color: $main-color;
  background-image: url("../../images/teachers.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  .title{
    color: $font-color-dark;
    width: 100%;
    text-transform: uppercase;
    padding-top: 0.2em;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 2px 2px 1px #555;

    p {
      margin-left: 0.4em;
    }
  }

  .container-pic-cards {
//    display: flex;
    margin-top: -0.4em;
    overflow: hidden;

  }

  .pic-card:hover{
    box-shadow: 2px 2px 2px #000;
  }

  .pic-card{
    width: 200px;
    height: 280px;
    display: flex;
    flex-flow: column wrap;

    .image-container{
      position: relative;
      overflow: hidden;
      height: 110px;

      img.pic {
        width: 100%;
        margin-bottom: 0;
      }


      .like {
        color: $font-color-light;
        font-size: 0.8em;
        position: absolute;
        bottom: 0;
        right:0;
        margin-right: 1em;
        text-shadow: 1px 1px 1px #000000;
      }
    }

    .pic-article {
      flex: 1;
      position: relative;
      margin-top: -1px;
      background-color: $pic-card-color;
      color: $font-color-dark;
      opacity: 0.9;

      h3 {
        font-size: 1.5em;
        margin-top: -1px;
        padding-left: 1em;
        padding-top: 1em;
      }

      p {
        font-size: 0.8em;
      }

      .description {
        padding: 0 3em;
        margin-top: -0.5em;
      }

      .subject {
        margin-left: 2em;
        margin-top: -0.5em;
        font-size: 0.9em;
        font-weight:200;
      }

      .links{
        text-align:center;

        i {
          position: absolute;
          font-size: 1.5em;
          padding: 0.2em;
          width: 35px;
          height: 30px;
          bottom: 0;
          right: 0;
          color: $font-color-dark;

        }
      }
    }
  }

  .scroll-right-btn {
    background-color: white;
    opacity: 0.4;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    color: $font-color-light;
    margin-left: 0.3em;
    padding-left: 0.2em;
    width: 1em;
    position: relative;
    border-radius: 4px;

    .chevron {
      position: absolute;
    	top: 50%;
      margin-top: -1em;

      i {
        color: $font-color-dark;
      }
    }
  }
}
