#top{
  .container-row {
    display: inline-flex;
    flex-flow: row nowrap;

    .leftbar {
      position: relative;
      text-align: center;
      background-color: $main-color;
      height: auto;
      width: 35px;
      box-shadow: 2px 0px 2px #000;
      z-index:2;


      .menu-btn {
        font-size: 1.5em;
        margin-top: 0.3em;
      }

      .menu-message {
        position:absolute;
        font-size: 2em;
        font-weight: bold;
        white-space: nowrap;
        bottom:0;
        right:0;
        left: 50%;
        margin-left: -0.65em;
        margin-bottom: -1.5em;
        transform-origin: left top;
        transform: rotate(270deg);

        & span {
          font-weight:100;
          font-size: 0.4em;
          margin-left: 0.5em;
        }
      }

      .chevron {
        position: absolute;
        font-size: 1em;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 0.4em;
      }
    }

    .image-container{
      position: relative;
      background-color: blue;
      flex:1;
      z-index:1;
      box-shadow: 0px 0px 2px #000;

      img {
        width: 100%;
        padding: 0;
        margin: 0;
        //height: auto;
      }


      .on-the-pic {
        text-align: center;
        font-weight: 900;

        .name {
          line-height: 1.2em;
          position: absolute;
          color: #166eff;
          font-size: 9em;
          top:50%;
          left:0;
          right: 0;
          margin: 0 auto;
          margin-top: -1.4em;
          opacity: 0.9;
          text-shadow: 4px 4px 8px #000;

        }

        .icon {
          position: absolute;
          color: $font-color-dark;
          top:50%;
          left:0;
          right: 0;
          margin: 0 auto;
          margin-top: -0.7em;
          margin-left: 0.2em;
          font-size: 20em;
          opacity: 0.8;
          transform: rotate(-20deg);
        }
      }


      .date {
        position: absolute;
        text-align: right;

        font-width: bold;
        font-size: 0.5em;
        margin-right: 4em;
        margin-bottom: 6em;
        right: 0;
        bottom: 0;
      }

      .article {
        position: absolute;
        left: 0.5em;
        bottom: 0.5em;
        width: 22em;
        height: 7em;
        text-shadow: 2px 2px 0px #000;

        .background {
          position: relative;
          width: 100%;
          height: 100%;

          opacity: 0.6;

          //border-style: solid;
          border-radius: 7px;
          background-color: $font-color-dark;


        }

        h3 {
          position: absolute;
          top: 0;
          opacity: 1;
          font-size: 1em;
          padding: 0.5em;
          margin-top: 0.7em;
          margin-left: 1em;
          text-weight: 400;

        }

        p {
          position: absolute;
          top:0 ;
          opacity: 1;
          text-weight: 100;
          font-size: 0.8em;
          padding: 2em;
          margin-top: 1.2em;
        }
      }

      .mail {
        position: absolute;
        font-size: 2em;
        margin-right: 0.5em;
        margin-top: 0.2em;
        right: 0;
        top: 0;
      }
    }
  }
}
