body {
  font-family: 'Catamaran', sans-serif;
  color: #fff; }

.whole-container {
  max-width: 90%;
  border-style: solid;
  margin: 0 auto; }

.top-container {
  border-style: solid; }

.slick-prev:before,
.slick-next:before {
  color: #000; }

.slick-next {
  right: 20px;
  z-index: 99; }

.slick-prev {
  left: 15px;
  z-index: 100; }

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #fff; }

#top .container-row {
  display: inline-flex;
  flex-flow: row nowrap; }
  #top .container-row .leftbar {
    position: relative;
    text-align: center;
    background-color: #166eff;
    height: auto;
    width: 35px;
    box-shadow: 2px 0px 2px #000;
    z-index: 2; }
    #top .container-row .leftbar .menu-btn {
      font-size: 1.5em;
      margin-top: 0.3em; }
    #top .container-row .leftbar .menu-message {
      position: absolute;
      font-size: 2em;
      font-weight: bold;
      white-space: nowrap;
      bottom: 0;
      right: 0;
      left: 50%;
      margin-left: -0.65em;
      margin-bottom: -1.5em;
      transform-origin: left top;
      transform: rotate(270deg); }
      #top .container-row .leftbar .menu-message span {
        font-weight: 100;
        font-size: 0.4em;
        margin-left: 0.5em; }
    #top .container-row .leftbar .chevron {
      position: absolute;
      font-size: 1em;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 0.4em; }
  #top .container-row .image-container {
    position: relative;
    background-color: blue;
    flex: 1;
    z-index: 1;
    box-shadow: 0px 0px 2px #000; }
    #top .container-row .image-container img {
      width: 100%;
      padding: 0;
      margin: 0; }
    #top .container-row .image-container .on-the-pic {
      text-align: center;
      font-weight: 900; }
      #top .container-row .image-container .on-the-pic .name {
        line-height: 1.2em;
        position: absolute;
        color: #166eff;
        font-size: 9em;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: -1.2em;
        opacity: 0.9;
        text-shadow: 4px 4px 8px #000; }
      #top .container-row .image-container .on-the-pic .icon {
        position: absolute;
        color: #333;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: -0.7em;
        margin-left: 0.2em;
        font-size: 20em;
        opacity: 0.8;
        transform: rotate(-20deg); }
    #top .container-row .image-container .date {
      position: absolute;
      text-align: right;
      font-width: bold;
      font-size: 0.5em;
      margin-right: 4em;
      margin-bottom: 6em;
      right: 0;
      bottom: 0; }
    #top .container-row .image-container .article {
      position: absolute;
      left: 0.5em;
      bottom: 0.5em;
      width: 22em;
      height: 7em;
      text-shadow: 2px 2px 0px #000; }
      #top .container-row .image-container .article .background {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        border-radius: 7px;
        background-color: #333; }
      #top .container-row .image-container .article h3 {
        position: absolute;
        top: 0;
        opacity: 1;
        font-size: 1em;
        padding: 0.5em;
        margin-top: 0.7em;
        margin-left: 1em;
        text-weight: 400; }
      #top .container-row .image-container .article p {
        position: absolute;
        top: 0;
        opacity: 1;
        text-weight: 100;
        font-size: 0.8em;
        padding: 2em;
        margin-top: 1.2em; }
    #top .container-row .image-container .mail {
      position: absolute;
      font-size: 2em;
      margin-right: 0.5em;
      margin-top: 0.2em;
      right: 0;
      top: 0; }

#pictures {
  height: 350px;
  background-image: url("../../images/teachers.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat; }
  #pictures .title {
    color: #333;
    width: 100%;
    text-transform: uppercase;
    padding-top: 0.2em;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 2px 2px 1px #555; }
    #pictures .title p {
      margin-left: 0.4em; }
  #pictures .container-pic-cards {
    margin-top: -0.4em;
    overflow: hidden; }
  #pictures .pic-card:hover {
    box-shadow: 2px 2px 2px #000; }
  #pictures .pic-card {
    width: 200px;
    height: 280px;
    display: flex;
    flex-flow: column wrap; }
    #pictures .pic-card .image-container {
      position: relative;
      overflow: hidden;
      height: 110px; }
      #pictures .pic-card .image-container img.pic {
        width: 100%;
        margin-bottom: 0; }
      #pictures .pic-card .image-container .like {
        color: #fff;
        font-size: 0.8em;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 1em;
        text-shadow: 1px 1px 1px #000000; }
    #pictures .pic-card .pic-article {
      flex: 1;
      position: relative;
      margin-top: -1px;
      background-color: #fff;
      color: #333;
      opacity: 0.9; }
      #pictures .pic-card .pic-article h3 {
        font-size: 1.5em;
        margin-top: -1px;
        padding-left: 1em;
        padding-top: 1em; }
      #pictures .pic-card .pic-article p {
        font-size: 0.8em; }
      #pictures .pic-card .pic-article .description {
        padding: 0 3em;
        margin-top: -0.5em; }
      #pictures .pic-card .pic-article .subject {
        margin-left: 2em;
        margin-top: -0.5em;
        font-size: 0.9em;
        font-weight: 200; }
      #pictures .pic-card .pic-article .links {
        text-align: center; }
        #pictures .pic-card .pic-article .links i {
          position: absolute;
          font-size: 1.5em;
          padding: 0.2em;
          width: 35px;
          height: 30px;
          bottom: 0;
          right: 0;
          color: #333; }
  #pictures .scroll-right-btn {
    background-color: white;
    opacity: 0.4;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    color: #fff;
    margin-left: 0.3em;
    padding-left: 0.2em;
    width: 1em;
    position: relative;
    border-radius: 4px; }
    #pictures .scroll-right-btn .chevron {
      position: absolute;
      top: 50%;
      margin-top: -1em; }
      #pictures .scroll-right-btn .chevron i {
        color: #333; }

#why .container-row {
  display: inline-flex;
  flex-flow: row nowrap; }
  #why .container-row .leftbar {
    position: relative;
    text-align: center;
    background-color: #166eff;
    height: auto;
    width: 35px;
    box-shadow: 2px 0px 2px #000;
    z-index: 2; }
    #why .container-row .leftbar .menu-btn {
      font-size: 1.5em;
      margin-top: 0.3em; }
    #why .container-row .leftbar .menu-message {
      position: absolute;
      font-size: 2em;
      font-weight: bold;
      white-space: nowrap;
      bottom: 0;
      right: 0;
      left: 50%;
      margin-left: -0.65em;
      margin-bottom: -1.5em;
      transform-origin: left top;
      transform: rotate(270deg); }
      #why .container-row .leftbar .menu-message span {
        font-weight: 100;
        font-size: 0.4em;
        margin-left: 0.5em; }
  #why .container-row .image-container {
    position: relative;
    background-color: blue;
    flex: 1;
    z-index: 1;
    box-shadow: 0px 0px 2px #000; }
    #why .container-row .image-container img {
      width: 100%;
      padding: 0;
      margin: 0; }
    #why .container-row .image-container .on-the-pic {
      text-align: center;
      font-weight: 900; }
      #why .container-row .image-container .on-the-pic .name {
        line-height: 1.2em;
        position: absolute;
        color: #fff;
        font-size: 9em;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: -1.4em;
        opacity: 0.9;
        text-shadow: 4px 4px 1px #000; }
      #why .container-row .image-container .on-the-pic .icon {
        position: absolute;
        color: #166eff;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: -0.7em;
        margin-left: 0.2em;
        font-size: 25em;
        opacity: 0.6; }
    #why .container-row .image-container .date {
      position: absolute;
      text-align: right;
      font-width: bold;
      font-size: 0.5em;
      margin-right: 4em;
      margin-bottom: 6em;
      right: 0;
      bottom: 0; }
    #why .container-row .image-container .article {
      position: absolute;
      bottom: 0.5em;
      width: 90%;
      height: 7em;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-shadow: 2px 2px 0px #000; }
      #why .container-row .image-container .article .background {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        border-radius: 7px;
        background-color: #333; }
      #why .container-row .image-container .article h3 {
        position: absolute;
        top: 0;
        opacity: 1;
        font-size: 1em;
        padding: 0.5em;
        margin-top: 0.7em;
        margin-left: 1em;
        text-weight: 400; }
      #why .container-row .image-container .article p {
        position: absolute;
        top: 0;
        opacity: 1;
        text-weight: 100;
        font-size: 0.8em;
        padding: 2em;
        margin-top: 1.2em; }
    #why .container-row .image-container .mail {
      position: absolute;
      font-size: 2em;
      margin-right: 0.5em;
      margin-top: 0.2em;
      right: 0;
      top: 0; }

#subjects {
  background-image: url("../../images/classroom.jpg");
  height: 600px; }
  #subjects .container-row li {
    position: relative;
    height: 600px; }
    #subjects .container-row li .on-the-pic {
      text-align: center;
      font-weight: 900; }
      #subjects .container-row li .on-the-pic .name {
        line-height: 1.2em;
        color: #fff;
        font-size: 6em;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 1em;
        opacity: 0.9;
        text-shadow: 0px 0px 6px #000; }
    #subjects .container-row li .article {
      position: absolute;
      bottom: 0.5em;
      width: 50em;
      height: 7em;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-shadow: 2px 2px 0px #000; }
      #subjects .container-row li .article .background {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        border-radius: 7px;
        background-color: #333; }
      #subjects .container-row li .article h3 {
        position: absolute;
        top: 0;
        opacity: 1;
        font-size: 1em;
        padding: 0.5em;
        margin-top: 0.7em;
        margin-left: 1em;
        text-weight: 400; }
      #subjects .container-row li .article p {
        position: absolute;
        top: 0;
        opacity: 1;
        text-weight: 100;
        font-size: 0.8em;
        padding: 2em;
        margin-top: 1.2em; }

#books {
  height: 380px;
  background-image: url("../../images/library.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat; }
  #books .title {
    color: #fff;
    width: auto;
    text-transform: uppercase;
    padding-top: 0.2em;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 2px 2px 1px #000; }
    #books .title p {
      margin-left: 0.4em; }
  #books .container-books {
    margin-top: 2em;
    overflow: hidden; }
  #books .book-card:hover {
    box-shadow: 2px 2px 2px #000; }
  #books .book-card {
    position: relative;
    width: 200px;
    height: 260px;
    display: flex;
    flex-flow: column wrap; }
    #books .book-card .image-container {
      position: absolute;
      overflow: hidden; }
      #books .book-card .image-container img.pic {
        width: 100%;
        margin-bottom: 0; }
    #books .book-card .book-article-icons {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      margin: 0 auto;
      text-align: center;
      background-color: rgba(255, 255, 255, 0); }
      #books .book-card .book-article-icons img {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 50%;
        margin: 0 auto;
        width: 3em;
        margin-bottom: 1.5em; }
      #books .book-card .book-article-icons .flipkart {
        margin-left: 20px; }
      #books .book-card .book-article-icons .snapdeal {
        margin-right: 20px; }
      #books .book-card .book-article-icons p {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 3em;
        font-size: 1.5em;
        font-weight: 700;
        padding: 0.5em; }
    #books .book-card .book-article-icons:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.6); }
  #books .scroll-right-btn {
    background-color: white;
    opacity: 0.4;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    color: #fff;
    margin-left: 0.3em;
    padding-left: 0.2em;
    width: 1em;
    position: relative;
    border-radius: 4px; }
    #books .scroll-right-btn .chevron {
      position: absolute;
      top: 50%;
      margin-top: -1em; }
      #books .scroll-right-btn .chevron i {
        color: #333; }
  #books .slick-prev:before,
  #books .slick-next:before {
    color: #fff; }

#footer {
  background-color: #333;
  color: #fff; }
  #footer .container-row {
    display: flex;
    flex-flow: row nowrap; }
    #footer .container-row div {
      margin: 0 auto;
      flex: 1; }
      #footer .container-row div h2 {
        margin-left: 1em;
        font-size: 1.5em; }
      #footer .container-row div ul {
        margin-left: 0.5em;
        font-size: 1em;
        font-weight: 100; }
        #footer .container-row div ul a {
          color: #fff; }

/*# sourceMappingURL=app.css.map */
